@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* TÃTULO */
 .title {
  @apply text-black font-bold text-6xl text-center hover:text-amber-800 hover:bg-amber-900;
 }
}
